<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Signin</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
      <form action="/user/otp" method="post">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">VALIDATE OTP</label>
          <input
            name="otpNumber"
            type="number"
            class="form-control"
            id="exampleInputotpNumber"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <%- include('./partials/scripts') %>
  </body>
</html>
